[submodule "packages/sdk-components-animation/private-src"]
	path = packages/sdk-components-animation/private-src
	url = https://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@github.com/webstudio-is/sdk-components-animation.git
